<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <title>adalene</title>
    <link rel="stylesheet" href="../library/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../library/swiper/swiper.min.css">
    <link rel="stylesheet" href="../library/materialize/css/material-icons.css">
    <link rel="stylesheet" href="../library/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script defer src="../library/swiper/swiper.min.js"></script>
    <script defer src="../library/materialize/js/materialize.min.js"></script>
    <script defer src="../js/main.js"></script>
</head>
<body>
    <header>
        <nav class="nav-extended white">
            <div class="nav-wrapper container">
                <ul class="nav-left left">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
                <a href="#" class="brand-logo center">adalene.</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="nav-right right">
                    <li><a href="#" class="login hide-on-med-and-down">Log in</a></li>
                    <li><a href="#" class="cart">Cart (0)</a></li>
                </ul>
            </div>
            <div class="nav-content container hide-on-med-and-down">
                <div class="tabs tabs-transparent center">
                    <li class="tab"><a href="/">Home</a></li>
                    <li class="tab"><a href="#">Shop All</a></li>
                    <li class="tab"><a href="#">Our Story</a></li>
                    <li class="tab active"><a href="#">Our Craft</a></li>
                    <li class="tab"><a href="#">Contact</a></li>
                </div>
            </div>
        </nav>
        <ul id="mobile-demo" class="sidenav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop All</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Our Craft</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>
    <main>
        <section class="craft-page">
            <h1>THE PROCESS</h1>
            <div class="story-page__content">
                <!-- item 1 -->
                <div class="description">
                    <div class="content">
                        <h1>DESIGN</h1>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex debitis excepturi ratione? Repudiandae velit totam eum voluptas.</p>
                        <p>Molestiae ipsam vero inventore soluta sequi corrupti, dolorem sed deleniti vel voluptatibus velit non dignissimos.</p>
                    </div>
                </div>
                <div class="photo parallax-container">
                    <div class="parallax"><img src="images/craft/sketch.jpg"></div>
                </div>
                <!-- item 2 -->
                <div class="photo parallax-container">
                    <div class="parallax"><img src="images/craft/fabrics.jpg"></div>
                </div>
                <div class="description">
                    <div class="content">
                        <h1>SELECTION</h1>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sit facilis vero dolore exercitationem aperiam voluptas cumque iste natus temporibus, iure, repudiandae alias fugiat rerum.</p>
                    </div>
                </div>
                <!-- item 3 -->
                <div class="description">
                    <div class="content">
                        <h1>CRAFTSMANSHIP</h1>
                        <div class="underline"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sit facilis vero dolore exercitationem aperiam voluptas cumque iste natus temporibus, iure, repudiandae alias fugiat rerum.</p>
                    </div>
                </div>
                <div class="photo parallax-container">
                    <div class="parallax"><img src="images/craft/boxes.jpg"></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="contact">
            <div class="row">
                <div class="title col s12 m3 l3">
                    <h1><a href="#">adalene.</a></h1>
                </div>
                <div class="links col s12 m2 l2">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop All</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Our Craft</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="links col s12 m2 l2">
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping & Returns</a></li>
                        <li><a href="#">Store Policy</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Stockists</a></li>
                    </ul>
                </div>
                <div class="links col s12 m2 l2">
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Pinterest</a></li>
                    </ul>
                </div>
                <div class="emailing col s12 m3 l3">
                    <form action="#" onsubmit="event.preventDefault()">
                        <h1>JOIN US!</h1>
                        <div class="input-field">
                            <input type="email" id="email" class="validate">
                            <Label for="email">Email</Label>
                            <button class="btn waves-effect waves-orange transparent adalene-effect-reverse">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="copyright">
            <p>&copy;2020 remake website theme by Gusti Cahya from Wix.com</p>
        </section>
    </footer>
</body>
</html>